<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.szewa">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Rozwiązanie tymczasowe, w wersji produkcyjnej trzeba to obejść
        https://flutter.dev/docs/release/breaking-changes/network-policy-ios-android
        -->
    <application android:usesCleartextTraffic="true"/>
</manifest>
